apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: mlops
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30880
      protocol: TCP
