apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: mlops
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
      protocol: TCP
