apiVersion: v1
kind: Service
metadata:
  name: inference-api
  namespace: mlops
  labels:
    app: inference-api
spec:
  type: NodePort
  selector:
    app: inference-api
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30800
      protocol: TCP
