apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: mlops
  labels:
    app: prometheus
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30909
      protocol: TCP
